.card-title {
    text-align: center;
}

.card {
   border: 0px; 
}

.card-text {
    text-align: center;
}

.btn-primary {
    background-color: #3e0e40;
    border: 0px;
    margin: 4px;
}

.nav {
    justify-content: space-between;
}

#startBtn {
        display: block;
        width: 100px;
        margin-left: 44%;
}