.card-title {
    text-align: center;
}

.card {
   border: 0px; 
}

.card-text {
    text-align: center;
}

.btn-primary {
    background-color: #3e0e40;
    border: 0px;
    margin: 4px;
}

.nav {
    justify-content: space-between;
}

.center-btn {
    display:block;
    margin: 0 auto; /* calvin notes forgot to mention we could have centered start btn using margin 0 auto */
}

/* calvin notes: initially we want to hide the main(questions) and completed section*/ 
#main, #completed {
    display: none;
}

/* calvin notes: helper classes we will use later in js to help us show and hide questions and sections */
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.highScores {
    display: none;
}

